@use "global" as *;

.top-price {
  background: $greendd;
  margin-top: rem(86);
  padding-top: rem(84);
  padding-bottom: rem(83);
  @include mq("md") {
    position: relative;
    margin-top: rem(150);
    padding-top: rem(94);
    padding-bottom: rem(102);
  }
}

.top-price::after {
  @include mq("md") {
    content: "";
    position: absolute;
    z-index: 100;
    background: url("../images/common/fish.svg");
    background-size: cover;
    background-repeat: no-repeat;
    left: calc(50% - min(48.5vw, rem(625)));
    bottom: rem(57);
    width: rem(447);
    height: rem(201);
  }
}

.top-price__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.top-price__heading {
}

.top-price__contents {
  @include mq("md") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: rem(93);
    margin-top: rem(45);
  }
}

.top-price__left {
  @include mq("md") {
    order: 1;
  }
}

.top-price__right {
  @include mq("md") {
    order: 2;
  }
}

.top-price__img {
  display: block;
  margin-top: rem(31);
  @include mq("md") {
    margin-top: 0;
  }
}

.top-price__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 345 / 227;
  @include mq("md") {
    aspect-ratio: 492 / 746;
  }
}

.top-price__price-list {
  margin-top: rem(43);
}

.top-price__price-list:first-child {
  @include mq("md") {
    margin-top: 0;
  }
}

.top-price__button {
  margin-top: rem(37);
  text-align: center;
  @include mq("md") {
    margin-top: rem(76);
  }
}
