@use "global" as *;

.top-about {
  margin-top: rem(77);
  @include mq("md") {
    margin-top: rem(144);
    position: relative;
  }
}

.top-about__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.top-about__heading {
}

.top-about__sub-heading {
  @include mq("md") {
    margin-top: rem(5);
  }
}

.top-about__img {
  position: relative;
  margin-top: rem(53);
  @include mq("md") {
    margin-top: rem(118);
  }
}

.top-about__img-up {
  position: absolute;
  width: 37.101%;
  left: 0;
  bottom: rem(18);
  @include mq("md") {
    bottom: rem(55);
  }
}

.top-about__img-up img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 128 / 194;
  @include mq("md") {
    aspect-ratio: 400 / 606;
  }
}

.top-about__img-down {
  display: block;
  width: 81.449%;
  margin-right: 0;
  margin-left: auto;
  @include mq("md") {
    max-width: 880px;
    width: 81.481%;
  }
}

.top-about__img-down img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 281 / 186;
  @include mq("md") {
    aspect-ratio: 880 / 581;
  }
}

.top-about__contents {
  @include mq("md") {
    position: absolute;
    top: rem(307);
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(40);
    max-width: 920px;
    margin-left: rem(25);
    margin-right: rem(25);
    padding-right: rem(40);
    padding-left: rem(40);
  }
}
.top-about__text--large {
  margin-top: rem(42);
  @include mq("md") {
    max-width: 400px;
    margin-top: 0;
  }
}

.top-about__body {
  @include mq("md") {
    max-width: 400px;
  }
}

.top-about__text {
  margin-top: rem(18);
  @include mq("md") {
    color: $white;
    margin-top: rem(3);
  }
}

.top-about__button {
  margin-top: rem(46);
  text-align: center;
  @include mq("md") {
    margin-top: rem(36);
  }
}

.top-about::after {
  @include mq("md") {
    content: "";
    position: absolute;
    z-index: 100;
    background: url("../images/common/sango.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: calc(50% - min(48.5vw, rem(638)));
    bottom: rem(-91);
    width: rem(194);
    height: rem(181);
  }
}
