@use "global" as *;

.top-voice {
  margin-top: rem(80);
  @include mq("md") {
    margin-top: rem(144);
  }
}

.top-voice__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.top-voice__heading {
}

.top-voice__sub-heading.sub-heading {
  margin-top: rem(2);
  @include mq("md") {
    margin-top: rem(10);
  }
}

.top-voice__cards {
  margin-top: rem(42);
  @include mq("md") {
    margin-top: rem(32);
  }
}

.top-voice__button {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(77);
  }
}
