@use "global" as *;

.top-blog {
  margin-top: rem(75);
  @include mq("md") {
    position: relative;
    margin-top: 0;
    padding-top: rem(100);
  }
}

.top-blog__bgimg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60.168%;
}

.top-blog__bgimg img {
  aspect-ratio: 1440 / 500;
  width: 100%;
  height: 100%;
}

.top-blog__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.top-blog__heading {
  @include mq("md") {
    color: $white;
  }
}

.top-blog__inner .top-blog__heading::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.top-blog__sub-heading {
  margin-top: rem(2);
  @include mq("md") {
    color: $white;
    margin-top: rem(10);
  }
}

.top-blog__cards {
  margin-top: rem(24);
  padding-right: rem(6);
  padding-left: rem(6);
}

.top-blog__button {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(82);
  }
}
