@use "global" as *;

.top-contact {
  padding: rem(83) 0 rem(104);
  @include mq("md") {
    padding: rem(140) 0 rem(100);
  }
}

.top-contact__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
    box-shadow: rem(4) rem(4) rem(10) rem(1) rgba($black00, 0.25);
  }
}

.top-contact .top-contact__inner {
  padding-left: rem(25);
  padding-right: rem(25);
  @include mq("md") {
    max-width: 1080px;
    display: grid;
    grid-template-columns: 522fr 396fr;
    justify-content: space-between;
    margin: 0 auto;
    padding: rem(82) rem(111) rem(80) rem(50);
  }
}

.top-contact__store-info {
  display: grid;
  // justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 rem(15);
  @include mq("md") {
    padding: 0;
    padding-right: rem(82);
    border-right: 1px solid $green40;
  }
}

.top-contact__logo {
  width: rem(174);
  margin-right: auto;
  margin-left: auto;
  padding-bottom: rem(6);
  filter: drop-shadow(rem(0) rem(4) rem(4) rgba($black00, 0.25));
  @include mq("md") {
    width: rem(200);
    padding-bottom: rem(8);
    filter: none;
  }
}

.top-contact__logo img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 174 / 65;
  @include mq("md") {
    width: rem(200);
    aspect-ratio: 200 / 75;
  }
}

.top-contact__access {
  border-top: 1px solid $green40;
  @include mq("md") {
    display: grid;
    grid-template-columns: 146fr 273fr;
    max-width: 490px;
    width: 100%;
    padding-top: rem(24);
  }
}

.top-contact__info-text {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}

.top-contact__address,
.top-contact__tel,
.top-contact__bisiness-hours,
.top-contact__holiday {
  color: $black0D;
  font-size: rem(16);
  font-family: $third-font-family;
  letter-spacing: 0.005em;
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    text-shadow: none;
  }
}

.top-contact__address {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}

.top-contact__tel,
.top-contact__bisiness-hours,
.top-contact__holiday {
  margin-top: rem(4);
}

.top-contact__map {
  position: relative;
  width: 100%;
  padding-bottom: 54%;
  overflow: hidden;
  margin-top: rem(16);
  box-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    max-width: 273px;
    width: 100%;
    margin-top: 0;
    margin-left: rem(13);
    padding-bottom: 51%;
  }
}

.top-contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 295 / 160;
  @include mq("md") {
    aspect-ratio: 273 / 148;
  }
}

.top-contact__contact-info {
  @include mq("md") {
    max-width: 396px;
    width: 100%;
    padding: rem(20) 0 rem(19) rem(81);
  }
}

.top-contact__heading {
  margin-top: rem(22);
  @include mq("md") {
    font-size: rem(80);
    margin-top: 0;
  }
}

.top-contact__sub-heading {
  margin-top: rem(-28);
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    margin-top: 0;
    text-shadow: none;
  }
}

.top-contact__text {
  color: $green40;
  font-size: rem(14);
  text-align: center;
  line-height: 1.285714285714286;
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  margin-top: rem(9);
  @include mq("md") {
    margin-top: rem(8);
    text-shadow: none;
  }
}

.top-contact__button {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(35);
  }
}
