@use "global" as *;

.top-contact {
  position: relative;
  margin-top: rem(83);
  @include mq("md") {
    margin-top: rem(140);
    padding-top: rem(10);
  }
}

.top-contact::before {
  content: "";
  position: absolute;
  z-index: 100;
  background: url("../images/common/fish.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: rem(-25);
  right: calc(50% - min(46.5vw, rem(674)));
  width: rem(113);
  height: rem(138);
  @include mq("md") {
    background-size: cover;
    width: rem(307);
    height: rem(138);
    top: rem(-38);
    right: calc(50% - min(48.5vw, rem(674)));
  }
}

.top-contact__inner {
  position: relative;
  max-width: 600px;
  width: 100%;
}

.top-contact__box {
  @include mq("md") {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem(80);
    padding-bottom: rem(72);
    box-shadow: rem(4) rem(4) rem(10) rem(1) rgba($black00, 0.25);
  }
}

.top-contact__store-info {
  display: grid;
  align-items: center;
  width: 100%;
  padding: 0 rem(25);
  @include mq("md") {
    width: 52.963%;
    padding-left: rem(50);
    padding-right: rem(75);
    border-right: 1px solid $green40;
  }
}

.top-contact__logo {
  width: rem(174);
  margin-right: auto;
  margin-left: auto;
  padding-bottom: rem(6);
  filter: drop-shadow(rem(0) rem(4) rem(4) rgba($black00, 0.25));
  @include mq("md") {
    width: rem(200);
    padding-bottom: rem(8);
    filter: none;
  }
}

.top-contact__logo img {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 174 / 65;
  @include mq("md") {
    width: rem(200);
    aspect-ratio: 200 / 75;
  }
}

.top-contact__access {
  border-top: 1px solid $green40;
  @include mq("md") {
    display: grid;
    grid-template-columns: 146fr 273fr;
    max-width: 490px;
    width: 100%;
    padding-top: rem(24);
  }
}

.top-contact__info-text {
  text-align: center;
  @include mq("md") {
    text-align: left;
  }
}

.top-contact__address,
.top-contact__tel,
.top-contact__bisiness-hours,
.top-contact__holiday {
  color: $black0D;
  font-size: rem(16);
  font-family: $third-font-family;
  letter-spacing: 0.005em;
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    text-shadow: none;
  }
}

.top-contact__address {
  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
  }
}

.top-contact__tel,
.top-contact__bisiness-hours,
.top-contact__holiday {
  margin-top: rem(4);
}

.top-contact__map {
  position: relative;
  width: 100%;
  padding-bottom: 54%;
  overflow: hidden;
  margin-top: rem(16);
  box-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    max-width: 273px;
    width: 100%;
    margin-top: 0;
    margin-left: rem(13);
    padding-bottom: 51%;
  }
}

.top-contact__map iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 295 / 160;
  @include mq("md") {
    aspect-ratio: 273 / 148;
  }
}

.top-contact__contact-info {
  @include mq("md") {
    width: 47.037%;
    padding-left: rem(20);
    padding-right: rem(50);
  }
}

.top-contact__heading {
  margin-top: rem(22);
  @include mq("md") {
    font-size: rem(80);
    margin-top: 0;
  }
}

.top-contact__sub-heading {
  margin-top: rem(-24);
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    margin-top: 0;
    text-shadow: none;
  }
}

.top-contact__text {
  color: $green40;
  font-size: rem(14);
  text-align: center;
  line-height: 1.285714285714286;
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  margin-top: rem(8);
  @include mq("md") {
    margin-top: rem(8);
    text-shadow: none;
  }
}

.top-contact__button {
  margin-top: rem(37);
  text-align: center;
  @include mq("md") {
    margin-top: rem(35);
  }
}
