@use "global" as *;

.top-information {
  padding: rem(75) 0 rem(85);
  background-color: $greendd;
  @include mq("md") {
    padding: rem(100) 0 rem(76);
  }
}

.top-information__inner {
  max-width: 600px;
  width: 100%;
}

.top-information__heading {
}

.top-information__sub-heading {
  margin-top: rem(4);
  @include mq("md") {
    margin-top: rem(10);
  }
}

.top-information__body {
  margin-top: rem(26);
  @include mq("md") {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: rem(40);
  }
}
.top-information__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 345 / 227;
}

.top-information__contents {
  @include mq("md") {
    margin-left: rem(45);
  }
}

.top-information__title {
  color: $black0D;
  font-size: rem(20);
  font-weight: $bold;
  margin-top: rem(28);
  padding-bottom: rem(2);
  line-height: 1;
  border-bottom: 1px solid $green40;
  @include mq("md") {
    font-size: rem(24);
    margin-top: rem(66);
  }
}

.top-information__text {
  margin-top: rem(10);
  @include mq("md") {
    letter-spacing: 0.007em;
  }
}

.top-information__button {
  margin-top: rem(37);
  @include mq("md") {
    margin-top: rem(36);
  }
}
