@use "global" as *;

.top-campaign {
  padding: 40px 0 80px;
}

.top-campaign__inner {
}

.top-campaign__heading {
}

.top-campaign__sub-heading {
}

.top-campaign__cards {
  margin-top: 24px;
}

.top-campaign__button {
  margin-top: 40px;
  text-align: center;
}
