@use "global" as *;

.top-blog {
  padding-top: rem(75);
  @include mq("md") {
    background-image: url(/assets/images/common/blog-bg.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: rem(100);
    width: 100%;
  }
}

.top-blog__bg {
  display: block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.top-blog__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.top-blog__heading {
  @include mq("md") {
    color: $white;
  }
}

.top-blog__inner .top-blog__heading::first-letter {
  @include mq("md") {
    color: $white;
  }
}

.top-blog__sub-heading {
  margin-top: rem(4);
  @include mq("md") {
    color: $white;
    margin-top: rem(10);
  }
}

.top-blog__cards {
  margin-top: rem(24);
  padding-right: rem(6);
  padding-left: rem(6);
  @include mq("md") {
    margin-top: rem(77);
    grid-template-columns: repeat(3, 1fr);
  }
}

.top-blog__button {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(82);
  }
}
