@use "global" as *;

.about-top {
  @include mq("md") {
    position: relative;
  }
}

.about-top__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    position: relative;
  }
}

.about-top__heading {
}

.about-top__img {
  position: relative;
  margin-top: rem(57);
  @include mq("md") {
    margin-top: rem(123);
  }
}

.about-top__img-up {
  position: absolute;
  width: 37.101%;
  left: 0;
  bottom: rem(18);
  @include mq("md") {
    bottom: rem(55);
  }
}

.about-top__img-up img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 128 / 194;
  @include mq("md") {
    aspect-ratio: 400 / 606;
  }
}

.about-top__img-down {
  display: block;
  width: 81.449%;
  margin-right: 0;
  margin-left: auto;
  @include mq("md") {
    max-width: 880px;
    width: 81.481%;
  }
}

.about-top__img-down img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 281 / 186;
  @include mq("md") {
    aspect-ratio: 880 / 581;
  }
}

.about-top__contents {
  @include mq("md") {
    position: absolute;
    top: rem(307);
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: rem(40);
    max-width: 920px;
    margin-left: rem(25);
    margin-right: rem(25);
    padding-right: rem(40);
    padding-left: rem(40);
  }
}
.about-top__large-text {
  color: $green40;
  font-size: rem(40);
  letter-spacing: 0.005em;
  line-height: 1;
  margin-top: rem(42);
  @include mq("md") {
    max-width: 400px;
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
    margin-top: 0;
  }
}

.about-top__body {
  @include mq("md") {
    max-width: 400px;
  }
}

.about-top__text {
  color: $black0D;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: 0.005em;
  margin-top: rem(18);
  @include mq("md") {
    color: $white;
    margin-top: rem(3);
  }
}

.about-top__button {
  margin-top: rem(46);
  text-align: center;
  @include mq("md") {
    margin-top: rem(36);
  }
}

.about-top::after {
  @include mq("md") {
    content: "";
    position: absolute;
    z-index: 100;
    background: url("../images/common/sango.svg");
    background-size: contain;
    background-repeat: no-repeat;
    right: calc(50% - min(48.5vw, rem(638)));
    bottom: rem(-91);
    width: rem(194);
    height: rem(181);
  }
}
