@use "global" as *;

.arrow {
  display: inline-block;
  position: relative;
  width: 40px;
  // margin: 6px 0 10px 8px;
  margin-left: 8px;
  margin-bottom: 4px;
}

.arrow__line01 {
  height: 1px;
  background-color: $white;
}

.arrow__line02 {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right bottom;
  width: 8px;
  height: 1px;
  background-color: $white;
  transform: rotate(45deg);
}
