@use "global" as *;

.arrow {
  display: inline-block;
  position: relative;
  width: rem(40);
  margin-left: rem(6);
  margin-bottom: rem(1);
}

.arrow__line01 {
  height: rem(1);
  background-color: $white;
}

.arrow__line02 {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: right bottom;
  width: rem(12);
  height: rem(1);
  background-color: $white;
  transform: rotate(45deg);
}
