@use "global" as *;

.bgpoint.bgpoint--sango {
  @include mq("md") {
    position: absolute;
    z-index: 100;
    width: rem(194);
    bottom: rem(-91);
    right: calc(50% - min(48.5vw, rem(638)));
  }
}

.bgpoint.bgpoint--sango img {
  @include mq("md") {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 194 / 181;
  }
}

.bgpoint.bgpoint--fish-blog {
  position: absolute;
  z-index: 100;
  width: rem(437);
  top: rem(-76);
  left: calc(50% - min(48.5vw, rem(637)));
}

.bgpoint.bgpoint--fish-blog img {
  @include mq("md") {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 437 / 201;
  }
}

.bgpoint.bgpoint--fish-voice {
  position: absolute;
  z-index: 100;
  transform: scale(-1, 1);
  width: rem(309);
  top: rem(-117);
  left: calc(50% - min(48.5vw, rem(623)));
}

.bgpoint.bgpoint--fish-voice img {
  @include mq("md") {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 301 / 138;
  }
}

.bgpoint.bgpoint--tatsu {
  @include mq("md") {
    position: absolute;
    z-index: 100;
    width: rem(71);
    bottom: rem(-70);
    right: rem(25);
  }
}

.bgpoint.bgpoint--tatsu img {
  @include mq("md") {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 71 / 162;
  }
}

.bgpoint.bgpoint--fish-price {
  position: absolute;
  z-index: 100;
  width: rem(447);
  bottom: rem(-51);
  left: calc(50% - min(48.5vw, rem(625)));
}

.bgpoint.bgpoint--fish-price img {
  @include mq("md") {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 437 / 201;
  }
}

.bgpoint.bgpoint--fish-contact {
  position: absolute;
  z-index: 100;
  width: rem(113);
  top: rem(-25);
  right: calc(50% - min(46.5vw, rem(674)));
  @include mq("md") {
    position: absolute;
    z-index: 100;
    width: rem(307);
    top: rem(-34);
    right: calc(50% - min(48.5vw, rem(674)));
  }
}

.bgpoint.bgpoint--fish-contact img {
  @include mq("md") {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 301 / 138;
  }
}
