@use "global" as *;

.campaign-top {
  padding-bottom: rem(3);
  overflow: hidden;
  @include mq("md") {
    padding-top: rem(20);
  }
}

.campaign-top__inner {
  max-width: 600px;
  width: 100%;
  @include mq("md") {
    max-width: 1080px;
    position: relative;
  }
}

.campaign-top__heading {
}

.campaign-top__container {
  margin-inline: auto;
  max-width: 600px;
  @include mq("md") {
    max-width: 1440px;
    right: 0;
    margin-left: 0;
  }
}
.campaign-top__swiper {
  margin-top: rem(32);
  @include mq("md") {
    margin-top: 0;
    margin-right: calc(50% - 50vw);
  }
}

.campaign-top__cards {
  display: flex;
  padding-bottom: rem(5);
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    margin-top: rem(44);
  }
}

.campaign-top__cards-item {
  width: 100%;
}

.campaign-top__button {
  margin-top: rem(32);
  text-align: center;
  @include mq("md") {
    margin-top: rem(75);
  }
}

// 左矢印（prev）
.campaign-top__swiper-button-prev {
  display: none;
  @include mq("md") {
    display: block;
    top: 3%;
    left: 76.5%;
    width: rem(80);
    height: rem(80);
  }
}

.campaign-top__swiper-button-prev::after {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(80);
    height: rem(80);
    background-image: url(../images/common/arrow-left.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
  }
}

// 右矢印（next）
.campaign-top__swiper-button-next {
  display: none;
  @include mq("md") {
    display: block;
    top: 3%;
    left: 90.5%;
    width: rem(80);
    height: rem(80);
  }
}

.campaign-top__swiper-button-next::after {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(80);
    height: rem(80);
    background-image: url(../images/common/arrow-right.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
  }
}
