@use "global" as *;

.card-campaign-underlayer {
  background: $white;
  height: 100%;
  padding-bottom: rem(20);
  box-shadow: rem(5) rem(5) rem(6) rgba($black00, 0.25);
  @include mq("md") {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.card-campaign-underlayer__img {
}

.card-campaign-underlayer__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 280 / 188;
  @include mq("md") {
    aspect-ratio: 334 / 223;
  }
}

.card-campaign-underlayer__body {
  padding: rem(15) rem(16) 0;
  @include mq("md") {
    padding: rem(23) rem(24) rem(24);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

.card-campaign-underlayer__tag {
  display: inline-block;
  color: $green40;
  font-size: rem(12);
  padding: rem(8) rem(12) rem(2);
  background: $white;
  border: 1px solid $green40;
  width: fit-content;
  @include mq("md") {
    padding: rem(10) rem(16) rem(4);
  }
}

.card-campaign-underlayer__title {
  color: $black0D;
  font-size: rem(16);
  font-family: $third-font-family;
  font-weight: $medium;
  margin-top: rem(8);
  padding-bottom: rem(4);
  border-bottom: solid 1px $green40;
  @include mq("md") {
    flex-grow: 1;
    font-size: rem(24);
    margin-top: rem(4);
  }
}

.card-campaign-underlayer__price-body {
  padding-left: rem(18);
  padding-right: rem(19);
  @include mq("md") {
    padding-left: rem(18);
    padding-right: rem(19);
  }
}

.card-campaign-underlayer__caption {
  color: $black00;
  font-size: rem(14);
  line-height: 1.5;
  text-align: center;
  margin-top: rem(12);
  @include mq("md") {
    font-size: rem(16);
    letter-spacing: 0.05em;
    margin-top: rem(24);
    flex-grow: 1;
  }
}

.card-campaign-underlayer__price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: rem(-2);
  @include mq("md") {
    margin-top: rem(-5);
    justify-content: center;
  }
}

.card-campaign-underlayer__price-before,
.card-campaign-underlayer__price-after {
  font-family: $second-font-family;
  font-weight: $bold;
}

.card-campaign-underlayer__price-before {
  color: $black0D;
  font-size: rem(20);
  text-decoration: line-through;
  text-decoration-color: #c94800;
  text-decoration-thickness: rem(3);
  @include mq("md") {
    font-size: rem(24);
  }
}

.card-campaign-underlayer__price-after {
  color: $green40;
  font-size: rem(32);
  @include mq("md") {
    font-size: rem(40);
    margin-left: rem(44);
  }
}

.card-campaign-underlayer__text {
  display: none;
  @include mq("md") {
    display: block;
    color: $black0D;
    font-size: rem(16);
    font-family: $third-font-family;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: rem(16);
  }
}

.card-campaign-underlayer__period {
  display: none;
  @include mq("md") {
    display: block;
    color: $green40;
    font-size: rem(16);
    font-family: $second-font-family;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: rem(27);
  }
}

.card-campaign-underlayer__contact {
  display: none;
  @include mq("md") {
    display: block;
    color: $green40;
    font-size: rem(14);
    font-family: $third-font-family;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0;
    margin-top: rem(4);
  }
}

.card-campaign-underlayer__button {
  display: none;
  @include mq("md") {
    display: block;
    text-align: center;
    margin-top: rem(14);
  }
}
