@use "global" as *;

.card-blog {
  background: $white;
  box-shadow: rem(2) rem(2) rem(10) rem(4) rgba($black00, 0.25);
}

.card-blog__inner {
  padding: rem(16) rem(16) rem(22);
  @include mq("md") {
    padding: rem(17) rem(16) rem(18);
  }
}

.card-blog__img img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 301 / 201;
}

.card-blog__time {
  color: $black0D;
  font-size: rem(12);
  line-height: 1.5;
  letter-spacing: 0.03em;
  margin-top: rem(24);
}

.card-blog__title {
  color: $black0D;
  font-size: rem(16);
  font-weight: $medium;
  margin-top: rem(4);
  padding-bottom: 0;
  border-bottom: solid 1px $green40;
}

.card-blog__text {
  color: $black00;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: 0.005em;
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(20);
  }
}
