@use "global" as *;

.drawer-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 8888;
  background-color: $green40;
  width: 100%;
  height: calc(100vh - rem(80));
  margin-top: rem(80);
  overflow: scroll;
  padding: rem(15) rem(15) rem(10);
}

.drawer-menu__inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.drawer-menu__img {
}

.drawer-menu__left {
  padding-left: rem(22);
}

.drawer-menu__right {
  padding-left: rem(22);
}

.drawer-menu__item {
}

.drawer-menu__item.drawer-menu__item--bold {
  position: relative;
  margin-top: rem(16);
}

.drawer-menu__left .drawer-menu__item.drawer-menu__item--bold:first-child,
.drawer-menu__right .drawer-menu__item.drawer-menu__item--bold:first-child {
  margin-top: 0;
}

.drawer-menu__item.drawer-menu__item--bold::before {
  position: absolute;
  content: "";
  display: block;
  width: rem(18);
  height: rem(18);
  left: rem(-22);
  top: 50%;
  transform: translateY(-50%);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/common/drawer-hitode.png");
}

.drawer-menu__item.drawer-menu__item--bold.pp::before {
  top: 30%;
  @include mq("md") {
    top: 50%;
  }
}

.drawer-menu__item a {
  display: inline-block;
  color: $white;
  font-size: rem(16);
  padding-top: rem(12);
  padding-bottom: rem(12);
  line-height: 1.125;
  height: inherit;
  cursor: pointer;
}

.drawer-menu__item.drawer-menu__item--bold a {
  font-weight: $bold;
}
