@use "global" as *;

.footer {
  background-color: $green40;
  width: 100%;
  margin-top: rem(104);
  padding: rem(48) 0 rem(56);
  @include mq("md") {
    margin-top: rem(157);
    padding-top: rem(80);
    padding-bottom: rem(76);
  }
}

.footer__pagetop {
}

.footer__inner {
  @include mq("md") {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
  }
}

.footer__head {
  @include mq("md") {
    display: flex;
    align-items: center;
  }
}

.footer__logo {
  width: rem(120);
  @include mq("md") {
    width: rem(200);
  }
}

.footer__logo-link img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 120 / 45;
  @include mq("md") {
    aspect-ratio: 200 / 75;
  }
}

.footer__sns {
  display: flex;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(30);
    margin-left: rem(40);
  }
}

.footer__sns-link img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.footer__sns-fb {
  width: rem(24);
  @include mq("md") {
    width: rem(32);
  }
}

.footer__sns-insta {
  margin-left: rem(16);
  width: rem(24);
  @include mq("md") {
    width: rem(32);
  }
}

.footer__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: rem(30);
  @include mq("md") {
    margin-top: rem(16);
  }
}

.footer__small {
  display: block;
  color: $white;
  font-size: rem(12);
  text-align: center;
  margin-top: rem(26);
  @include mq("md") {
    font-size: rem(14);
    margin-top: rem(62);
    text-align: center;
  }
}
