@use "global" as *;

.form {
}

.form__item {
  border: none;
  margin: 0;
  padding: 0;
  padding-bottom: rem(27);
  background-image: linear-gradient(to right, $green40 2px, transparent 1px);
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
}

.form__item:not(:first-child) {
  margin-top: rem(24);
  @include mq("md") {
    margin-top: rem(39);
  }
}

.form__item.form__item--check {
  padding-bottom: rem(21);
}

.form__item:last-of-type {
  background-image: none;
}

.form__title {
  display: block;
  color: $black0D;
  font-size: rem(16);
  font-family: $third-font-family;
  font-weight: $bold;
  line-height: 1;
  letter-spacing: 0;
  margin: 0;
  padding: 0;
}

.form__required {
  display: inline-block;
  color: $white;
  font-size: rem(12);
  font-family: $third-font-family;
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.4em;
  background-color: #c94800;
  margin-left: rem(8);
  padding-top: 5px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 16px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  color: $black0D;
  font-size: rem(14);
  width: 100%;
  border: 1px solid $green40;
  margin-top: 16px;
  padding-top: 12px;
  padding-right: 12px;
  padding-bottom: 4px;
  padding-left: 16px;
  box-sizing: border-box;
}

textarea {
  line-height: 1.5;
  padding-bottom: rem(18);
}

.form__item.form__item--question {
  padding-bottom: rem(15);
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder {
  color: $greendd;
  font-size: rem(16);
  @include mq("md") {
  }
}

.form__custom-checkbox {
  display: block;
  position: relative;
  padding-left: rem(24);
  cursor: pointer;
  font-size: 1em;
  user-select: none;
}

.form__custom-checkbox:first-of-type {
  margin-top: rem(20);
}

.form__custom-checkbox:not(:first-of-type) {
  margin-top: rem(3);
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  display: block;
  position: relative;
  margin-top: 12px;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1em;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: rem(15);
  width: rem(15);
  border: 1px solid $green40;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: white;
  border-color: #2e7d6b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 8px;
  top: 4px;
  width: 8px;
  height: 16px;
  border: solid #d85a1a;
  border-width: 0 4px 4px 0;
  transform: rotate(45deg);
}

select {
  width: 100%;
  font-size: rem(12);
  padding: rem(13) rem(9) rem(7);
  border: 1px solid $green40;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,7" fill="%232e7d6b"/></svg>')
    no-repeat right 10px center;
  background-size: rem(12);
}

.form__select {
  margin-top: rem(22);
}

.form__consent {
  color: $black0D;
  font-size: rem(14);
  font-family: $third-font-family;
  margin-top: rem(17);
  padding-left: rem(61);
  padding-right: rem(30);
}

button[type="submit"] {
}

button[type="submit"]:hover {
  // background-color: #1e4f4b;
}
