@use "global" as *;

.heading {
  color: $black0D;
  font-size: rem(32);
  font-weight: $normal;
  text-align: center;
  @include mq("md") {
    font-size: rem(40);
    line-height: 1;
  }
}

.heading::first-letter {
  color: $green40;
  text-transform: capitalize;
}

.heading.heading--large {
  font-size: rem(80);
  text-shadow: rem(0) rem(4) rem(4) rgba($black0D, 0.25);
  @include mq("md") {
    text-shadow: none;
  }
}
