@use "global" as *;

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev,
.swiper-button-next {
  @include mq("md") {
    height: 50px;
    width: 50px;
  }
}
/* 前へ次への矢印カスタマイズ */
.swiper-button-prev::after,
.swiper-button-next::after {
  @include mq("md") {
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    height: 50px;
    margin: auto;
    width: 50px;
  }
}
/* 前への矢印カスタマイズ */
.swiper-button-prev::after {
  @include mq("md") {
    background-image: url(/assets/images/common/arrow-left.svg);
  }
}
/* 次への矢印カスタマイズ */
.swiper-button-next::after {
  @include mq("md") {
    background-image: url(/assets/images/common/arrow-right.svg);
  }
}
/* 画像サイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
}
