@use "global" as *;

.text {
  color: $black0D;
  font-size: rem(16);
  line-height: 1.5;
  letter-spacing: 0.005em;
}

.text.text--large.text--large {
  color: $green40;
  font-size: rem(40);
  line-height: 1;
  @include mq("md") {
    color: $white;
    font-size: rem(80);
    line-height: 1.25;
  }
}
